*{
    

}
body{
    background-image: url("./mountainbike3.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    

}


.bigWrapper {
    display: grid;
    grid-template-areas:
        "n n n n n n"
        "s s s s s s"
        ". l l r r .";
    width: 100%;
   

}


input::-webkit-input-placeholder{
    color: black;
    
    
}


input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px rgba(156, 154, 8, 0.9) inset;
}

input {
    width: 90%;
    height: 40px;
    border: solid 1px black;
    text-align: center;
    border-radius: 5px 5px 5px; 
    font-size: 1.2em;
    background-color: rgba(255,255,255,0.4);
    color: black;
    font-family: 'Unica one';
    margin-bottom: 5px;
}


textarea:focus, input:focus{
    outline: none;
    background-color: rgba(54, 54, 52, 0.5);
    color: white;
    
}
.navBar{
    grid-area:n;
    width: 100%;
    display: flex;
    
    font-family: "Unica one";
    
    
    background-color: rgba(255,255,255, 0.3);
    margin: -10px 0px 20px -10px;
    border-bottom: 1px black solid;
    padding-right: 18px;
    color: rgba(231, 231, 17, 0.5);
    font-size: 3.2em;

}
.links{
    justify-content: flex-start;
    width:50%;


}
.link{
    
    text-decoration: none;
    padding-left: 40px;
    padding-top: 5px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.link:visited{
    color:rgba(214, 214, 18, 0.2);
    
}
.link:hover{
    
    text-shadow:
		-1px -1px 0 rgb(241, 236, 236),
		1px -1px 0 rgb(233, 226, 226),
		-1px 1px 0 rgb(240, 235, 235),
		1px 1px 0 rgb(247, 243, 243);
}
.mtb{
    width: 50%;
    justify-content: flex-end;
    display: flex;
    
    
    
}
.mtb a{
    justify-content: flex-end;
    text-decoration: none;
    padding-left: 40px;
    
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.mtb a:hover{
    text-shadow:
    -1px -1px 0 rgb(241, 236, 236),
    1px -1px 0 rgb(233, 226, 226),
    -1px 1px 0 rgb(240, 235, 235),
    1px 1px 0 rgb(247, 243, 243);
}

.searchWrapper{
    grid-area: s;
    
    
    width: 100%;
    
    
}
.search{
    
    display: grid;
    grid-template-areas:
        '. . lat . lon . .'
        '. . dis sta len . .'
        '. . b1 . b2 . .'
    
    
}
.lat{
    grid-area: lat;
    display: flex;
    justify-content: center;
    
    
}
.lon{
    grid-area: lon;
    display: flex;
    justify-content: center;
}
.dis{
    grid-area: dis;
    display: flex;
    justify-content: center;
}
.sta{
    grid-area: sta;
    display: flex;
    justify-content: center;
    
}
.len{
    grid-area: len;
    display: flex;
    justify-content: center;
}
.b{
    width: 90%;
    margin-bottom: 10px;
    background-color: black;
    color: white;

}
.b1{
    grid-area: b1;
    display: flex;
    justify-content: center;
    height: 30px;
}
.b2{
    grid-area: b2;
    display: flex;
    justify-content: center;
}


.b:hover{
    text-decoration: none;
    background-color: white;
    color: black;
    border: none;
}

.b:focus{
    outline: none;
    border: none;
}
.arefDiv{
    display: flex;
    justify-content: center;
}
.aref{
    text-align: center;
    font-size: 2em;
    font-family: "Unica One";
    width: 100%;
    text-decoration: none;
    padding-left: 40px;
    
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.aref:hover{
    text-shadow:
    -1px -1px 0 rgb(241, 236, 236),
    1px -1px 0 rgb(233, 226, 226),
    -1px 1px 0 rgb(240, 235, 235),
    1px 1px 0 rgb(247, 243, 243);
}





.left{
    position: absolute;
    width: 49%;
    height:70vh;
    border: solid 1px black;
    overflow: auto;
    background-color: rgba(255,255,255, 0.5);
    color: black;
    border-radius: 30px 0px 0px 70px; 
    margin-bottom: 20px;
    
    
}

.right{
    position: absolute;
    width: 49%;
    right: 10px;
    height: 70vh;
    color: black;
    border: solid 1px black;
    overflow: auto;
    background-color: rgba(255,255,255, 0.5);
    direction: rtl;
    border-radius: 0px 30px 70px 0px;
    
    
    
}




.results{
    direction: ltr;
    padding: 20px;
    padding-left: 5px;
    padding-right: 100px;
   
}
.resultsL{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 5px;
}

.trailWrapper h1 {
    text-align: center;
}

.scrollbar::-webkit-scrollbar{
    width:1em;
   
}
.scrollbar::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    
}
.scrollbar::-webkit-scrollbar-thumb{
    background-color:rgba(0,0,0,0.3);
    outline: 1px solid slategrey;
    
}


.trailList{
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    font-family: "Source Sans Pro";
    font-weight: bold;
    
}
.trailList p {
    text-shadow:
    -1px -1px 0 rgba(255,255,255, 0.6),
    1px -1px 0 rgba(255,255,255, 0.6),
    -1px 1px 0 rgba(255,255,255, 0.6),
    1px 1px 0 rgba(255,255,255, 0.6);
    font-size: 1.5em;
}
img{
    width: 100%;
}
.bb{
    width: 50%;
    margin-bottom: 10px;
    background-color: black;
    color: white;

}

.bb:hover{
    text-decoration: none;
    background-color: white;
    color: black;
    border: none;
}

.bb:focus{
    outline: none;
    border: none;
}

.homeWrapper{
    grid-area: s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homeItem{
    max-width: 50%;
    margin-top: 20vh;
    margin-bottom: 40vh;
    border: solid 1px black;
    overflow: auto;
    background-color: rgba(255,255,255, 0.3);
    color: black;
    padding: 1% 3% 1% 3%;
    text-align: center;
    border-radius: 13px 13px 17px 17px;
    color: rgba(156, 154, 8, 0.9);
    font-family: "Unica One";
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.title{
    font-size: 3em;
}
.title2{
    font-size: 2em;
}

@media (max-width: 1550px){
    body{
        background-size: 100vw 100vh;
    }
}

@media(max-width:1500px){
    .navBar{
        font-size: 2em;
    }
}
@media (max-width:1200px){
    .right{
        width: 48%;
    }
    .left{
        width: 48%;
    }

   
}
@media(max-width:940px){
    .navBar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mtb{
        width: 100%;
        justify-content: center;
    }
    .links{
        justify-content: center;
        display: flex;
        width: 100%;
    }
    .results{
        
        padding-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
       
    }
    .resultsL{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
    body{
        background-size: auto 100vh;
    }
}
@media(max-width: 476px){
    .navBar{
        font-size: 1.5em;
    }
}
